In [2]:
import pandas as pd

In [4]:
ast = pd.read_csv('data.csv')

In [5]:
ast.head()

,Unnamed: 0,jupiter_phi,jupiter_r,jupiter_theta,jupiter_x,jupiter_y,jupiter_z,location,mars_phi,mars_r,...,sun_x,sun_y,sun_z,time,venus_phi,venus_r,venus_theta,venus_x,venus_y,venus_z
0,0,3.714044,5.127976,177.157893,-4.912500,0.326557,0.315533,"(4461340.48313723, 919588.07009129, 4449530.22...",26.589000,0.543286,...,0.193749,-0.811200,-0.353117,1850-01-01 00:00:00,-23.797372,1.771032,266.545617,-0.076220,-1.166262,-0.604754
1,1,3.347541,4.874961,175.126237,-4.974439,0.423221,0.347773,"(4461340.48313723, 919588.07009129, 4449530.22...",24.813692,0.642939,...,0.170746,-0.790458,-0.472815,1850-01-06 00:00:00,-24.537521,1.696913,275.553211,0.270615,-1.320716,-0.517961
2,2,4.060894,4.968874,177.682099,-4.858500,0.409376,0.441543,"(4461340.48313723, 919588.07009129, 4449530.22...",27.047331,0.596572,...,0.303053,-0.804421,-0.171615,1850-01-11 00:00:00,-23.539596,1.753273,282.124416,0.134045,-1.357390,-0.677118
3,3,2.179225,4.696147,175.213288,-4.752372,0.232715,0.178511,"(4461340.48313723, 919588.07009129, 4449530.22...",27.705224,0.775200,...,0.567437,-0.727090,-0.392119,1850-01-16 00:00:00,-21.894231,1.623088,288.265631,0.636459,-1.434531,-0.616671
4,4,3.468697,4.539760,176.101327,-4.631363,0.431673,0.274209,"(4461340.48313723, 919588.07009129, 4449530.22...",26.285016,0.689112,...,0.567273,-0.686423,-0.282064,1850-01-21 00:00:00,-22.393396,1.738150,296.151892,0.549981,-1.367793,-0.629948

In [6]:
ast.shape

(10958, 45)